.ticket-card.silver {
  background: linear-gradient(to bottom right, #ededed, #bdbdbd);
}

.ticket-card.gold {
  background: linear-gradient(to bottom right, #f0e1af, #fcc201);
}

.ticket-card.platinum {
  background: linear-gradient(to bottom right, #e5e4e2, #49e8f0);
}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  color: #fff;
}

.modal-content .btn-close {
  background: transparent;
  border: none;
}

.summary {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.show-more{
  font-size:x-small;
  width: auto;
  background-color: transparent;
  color: blue;
  text-decoration-line: underline;
}

@media(max-width: 768px){
  .ticket-card{
    margin-bottom: 2rem;
  }
}