.book-order-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 0 10px;
}

button,
select {
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
select {
  margin: 0 20px;
  flex: 1;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin-left: auto;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cart:hover {
  background-color: #0056b3;
}

.cart svg {
  margin-right: 10px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 100%;
  padding-top: 75%;
  background-size: cover;
  background-position: center;
}

.item-details {
  padding: 15px;
  text-align: center;
}

.item-details h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.item-details p {
  margin: 5px 0;
  color: #777;
  font-size: 14px;
}

.item-details input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.item-details button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .item-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .item-card {
    flex: 1 1 100%;
  }
}
