.card-text{
    font-size: larger;
}

.card-title{
font-size: larger;
}


.explore-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (min-width: 575.98px) {
    .card-body {
      order: 2;
    }
    .explore-image {
      order: 1;
    }
  }
  