<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin page</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/signin" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email:">email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="phoneNO:">phoneNO:</label>
        <input type="phoneNO" id="phoneNO" name="phoneNO" required>
        <br>
        <label for="password:">password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Sign In</button>
    </form>
    
</body>
</html>