body{
  width: 100vb;
}

body, html {
  margin: 0;
  padding: 0;
  height: 80%;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a.active {
  font-weight: bold;
  color: red;
}
